<!DOCTYPE html>
<!-- adiconamos os "poderes" do Thymeleaf para serem usados neste aquivo HTML -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Aplicação de Saudação</title>
</head>
<body>
	<!-- th:text já é o Thymeleaf trabalhando em associação com o spring,
	 ele se comunica com o HelloWorldControler.java e recebe via HTML POST
	 o conteúdo da váriável nome quando esta página for retornada ao navegador		
	 -->
	<p><h1 th:text="'Hello, ' + ${nome} + '!'"/></p>
	
	<!-- Cada link está programado para fazer uma requisição HTML GET  
		para o servidor através do endpoint "/saudacao?nome=AlgumNome".
		HelloWorldController.java vai localizar o método 
		ola(String nome, Model model) que foi anotado para ser executado
		neste endereço.
		Como vamos passar por parâmetro um valor para a variável nome,
		é de se esperar que este nome seja atribuido ao Model e seja 
		exibido quando a página for reexibida no navegador.
		Obs: o termo reexibida é para fins didáticos, pois no final um 
		novo arquivo saudacao.html será criado e enviado ao browser.
	-->
	<p><a href="/saudacao?nome=João">Cumprimentar o João</a></p>
	<p><a href="/saudacao?nome=Maria">Cumprimentar a Maria</a></p>
	<p><a href="/saudacao?nome=Fernando">Cumprimentar o Fernando</a></p>
	<p><a href="/saudacao?nome=Paulo">Cumprimentar o Paulo</a></p>
	<p><a href="/">HOME</a></p>
</body>
</html>